body,h1, h2, h3
 {
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
    color:inherit;
}
li{
    list-style-type: none;
}
html {
    overflow-x: hidden;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eeeeee;

    max-width: 1290px;
    margin: 0 auto;
    position: relative;
}
.bar::after{
    content:'';
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
.bar_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.bar__top_tel{
    display: flex;
    align-items: center;
    justify-content: center;
}


.bar_nav li a{
    line-height: 30px;
    padding: 10px;
    width: 100%;


}
.bar_top_nav a{
    padding: 20px;
}
.bar_nav li:not(:last-child) {
    border-right: 2px solid green;
    padding: 0 20px;
}

.bar_nav li:last-child {
    padding: 0 20px;
}
.top_tel_icon{
    width:1em;
    height:1em;
    font-size:1em;
    padding: 0 20px;
}
.menu_toggel{
    display:none;
}
.menu_toggel_box {
    display: none;
}

@media screen and (max-width: 925px) {
    .bar {
        flex-direction:column;
    }
    .bar_navigition{
        order: -1;
    }
}
@media screen and (max-width: 680px) {
    .menu_toggel {
        display: block;
        margin: 20px 0 0 0;
    }

    .menu_toggel_box:checked ~ .bar_nav {
        display: block;
    }



    .bar_nav li {
        margin: 30px;
    }

    .bar_nav {

        display: none;
    }

    .bar_nav li a {
        border-right: none;
        border-bottom: #222222;
    }
}

.networks_icon{
    width:1em;
    height:1em;
    font-size:1em;
    padding: 0 20px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding:20px 0 ;

    max-width: 1290px;
    margin: 0 auto;
    position: relative;
}
.menu::after{
    content:'';
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
.menu_tagel{
    display: none;
}

.menu_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-right: 20px;
}

.menu_nav li a {

    padding: 10px;
    width: 100%;
    font-size: 20px;
}
.social_media {
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.social_media .fab, .fa {
    padding: 12px 14px;
    font-size: 20px;
    color: #e0e0e0;

}


.social_media .fab:hover, .fa:hover{
    color: black;}



@media screen and (max-width: 780px) {
    .menu {
        flex-direction:column;

    }
    .logo{
        order: -1;
        padding: 20px 0;
    }
    .menu_nav{
        padding: 10px 0 20px 0;
    }
}

.wrapper{
    max-width: 1290px;
    margin: 0 auto;
}

.featured{
    position: relative;


}


.featured_ration{

    padding-top: 74.57%;
}

.featured_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.products1__featured{
    width:30%;
    flex:1 1 100%;

    order: -1;
    display: flex;
    flex-direction: column;
}
.products1__featured_item{
    flex: 1 1 50%;
    display: flex;


}
.products2__featured_item{
    flex-basis:50%;
    display: flex;


}
.products2__featured{
    width:30%;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.center__featured{
    display: flex;
    width:40%;
    flex-basis: 100%;
    flex-grow: 1;


}

.featured__img{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;




}
.featured__img_center{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 0 ;
}

@media screen and (max-width: 780px){
    .featured_ration {
        padding-top: 100%;
    }
    .center__featured{
        width: 70%;
    }
    .products2__featured{
        flex-basis: 50%;
    }
    .products1__featured{
        order: 0;
        flex-basis: 50%;
    }
}

@media screen and (max-width: 560px){
    .featured_ration {
     flex-direction: column;
    }
    .center__featured{
        width: 100%;
    }
    .products1__featured {
        width: 100%;
    }
    .products2__featured{
        width: 100%;
    }
    .featured_content{
        flex-wrap: nowrap;
        position: static;
    }
    .featured_ration{
        padding: 0;
    }
}



.resent{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    padding-top: 30px;

}
.resent_content {

    margin: auto;

    display: flex;

}


.section_title {
    display: block;
    overflow: hidden;
    margin: 50px 0 50px 0;

    text-align: center;
    white-space: nowrap;
}

.section_title-content {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1.4;
}
.section__img{
    vertical-align: middle;
    padding: 0 20px;
}

.section_title_left,
.section_title_right {
    display: inline-block;

    vertical-align: middle;

    border-top: 2px solid #eaeaea;
    width: 999px;
    margin: 0 0 0 -999px;
}

.section_title_right {
    margin: 0 -999px 0 0;
}






.summer_collection{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 15px 0 15px;

}

figure{
     margin: 0;
 }
.circle {
    background: yellow;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position:absolute;
}
.products__img{
    padding-bottom: 15px;
    max-width: 301px;
    min-height:348px;
}


.products{
    position: relative;
}
.trapezium {
    height: 0;
    width: 120px;
    border-bottom: 45px solid #f0975c;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    bottom: 20px;
    right: 20%;

}
.add{
    padding-top: 15px;
    color: white;
}
.trapezium:hover {
    height: 0;
    width: 120px;
    border-bottom: 45px solid #222;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    bottom: 20px;
    right: 20%;

}
.resent_content {
    max-width: 1290px;
    min-height: 962px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
}

@media screen and (max-width: 560px) {
    .products {
        width: 100%

    }

}

